{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="post" class="col-6 offset-3 col-md-5 offset-md-4 col-lg-4 offset-lg-4">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

{% endblock %}
