{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="post" class="col-8 offset-2 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        {% csrf_token %}
        <h1>Account Registration</h1>
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
